/* Styles for complete header section */
.header{
    height: 100vh;
}

/* Heroarea flex design to place items left and right  */
.header__heroarea{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Heroarea title,content and forms settings */
.header__heroarea-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header__heroarea-title{
    padding: 2rem 0.5rem 2rem 0;
}
.header__heroarea-title h1{
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.5rem;
    font-family: var(--font-family);
}

/* Heroarea Subscribe form Styling */
.header__heroarea-content p,
.header__heroarea-form input,
.header__heroarea-form button{
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--color-white);
    font-family: var(--font-family);
}

.header__heroarea-form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.header__heroarea-form label{
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 800;
    color: var(--color-white);
    font-family: var(--font-family);
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.header__heroarea-form input{
    background-color: var(--color-footer);
    border: none;
    padding: 3px 1rem;
    color: var(--color-white);
}
.header__heroarea-form button{
    background-color: var(--color-subtext);
    border: none;
    padding: 3px 2rem;
    color: var(--color-white);
    font-weight: 500;
    border-radius: 0 5px 5px 0;

}

/* Heroarea hero image section */
.header__heroarea-image img{
    height: 30rem;
    width: 30rem;
    animation: updown 3s ease infinite;
}
@keyframes updown {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}