/* Navbar container styles */
.navbar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: unset;
}

/* Navbar Logo styles */
.navbar__logo{
    flex: 3;
    font-family: var(--font-family);
    font-size: 1.2rem;
    line-height: 3rem;
    font-weight: 800;
    cursor: pointer;
}
.navbar__logo span{
    color: var(--color-subtext);
}

/* Navbar links */
.navbar__links{
    flex: 8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar__links a{
    color: var(--color-white);
    font-family: var(--font-family);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 1rem;
}

.navbar__links a:hover,
.navbar__sign a:hover{
    color: var(--color-subtext);
}

/* Navbar sign in buttons and login */
.navbar__sign{
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar__sign a,
.navbar__sign button{
    color: var(--color-white);
    font-family: var(--font-family);
    font-size: 1.2rem;
    font-weight: 500;
}
.navbar__sign a{
    padding-right: 0.5rem;
}
.navbar__sign button{
    background-color: var(--color-subtext);
    padding: 5px 0.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Navbar Mobile Menu styles */
.navbar__menu{
    display: none;
}

.navbar__menu svg{
    cursor: pointer;
}

@media only screen and (max-width: 1500px) {
    .navbar__logo{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1280px) {
    .navbar__logo {
        font-size: 0.8rem;
    }
    .navbar__links a,
    .navbar__sign a,
    .navbar__sign button{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 992px) {
    .navbar__links{
        display: none;
    }
    .navbar__logo {
        font-size: 0.6rem;
    }
    /* Displaying Mobile menu while clicking hamburger menu */
    .navbar__menu{
        display: flex;
        padding-left: 1rem;
        position: relative;
    }
    .navbar__menu-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 2rem;
        background-color: var(--color-footer);
        padding: 1rem 1rem;
        z-index: 1000;
        width: 10rem;
    }
    .navbar__menu-container__links{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .navbar__menu-container__links a{
        color: var(--color-white);
        padding: 0.5rem 1rem;
        font-family: var(--font-family);
        font-size: 1rem;
        font-weight: 500;
    }
    .navbar__menu-container__sign {
        display: none;
    }
    
}

/* Media screen for Mobile phones */
@media only screen and (max-width: 480px){
    .navbar__sign{
        display: none;
    }  
    
    .navbar__menu-container__sign {
        display: flex;
    }

    .navbar__menu-container__sign{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .navbar__menu-container__sign a,
    .navbar__menu-container__sign button{
        color: var(--color-white);
        font-family: var(--font-family);
        font-size: 1rem;
        font-weight: 500;
    }
    .navbar__menu-container__sign a{
        padding: 0.5rem 1rem;
    }
    .navbar__menu-container__sign button{
        padding: 5px 1rem;
        background-color: var(--color-subtext);
        border: none;
        border-radius: 5px;
        padding: 0.1rem 1rem;
        }
            
    .navbar__menu-container__links a:hover{
        color: var(--color-subtext);
    }
    
}